@model IEnumerable<Pdr>
@{
    ViewData["Title"] = "Discharged";
}

<div class="card" style="margin-top: 20px;">
    <div class="card-header">
        <h4>
            Discharged Patients
        </h4>
    </div>
    <div class="card-body">
        <table class="table table-striped" style="vertical-align: middle; font-size: 15px;">
            <thead class="bg-gray-dark"> 
                <tr>
                    <th class="text-center">
                        Name
                    </th>
                    <th class="text-center">
                        Sex
                    </th>
                    <th class="text-center">
                        Age/Date of Birth
                    </th>
                    <th class="text-center">
                        Address
                    </th>
                    <th>
                        Date of Admission
                    </th>
                    <th class="text-center">
                        Date Discharged
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach(var patient in Model)
                {
                    var gender = patient.PatientNavigation.Gender ? "Male" : "Female";
                    <tr>
                        <td class="text-center">
                            <div class="btn-group dropleft" style="cursor: pointer;">
                                <a class=" dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @patient.PatientNavigation.GetFullName()
                                </a>
                                <div class="dropdown-menu" x-placement="right-start" style="position: absolute; transform: translate3d(-2px, 50px, 0px); top: 0px; left: 0px; will-change: transform; max-height: 210px; overflow-y: auto;">
                                    <a class="dropdown-item" style="cursor: pointer;" onclick="OpenForm('@patient.Id', 'PDRModal', 'Home');">PDR</a>
                                    <a class="dropdown-item" style="cursor: pointer;" onclick="OpenForm('@patient.Id', 'ViewOrders', 'NurseForms');">View Doctor's orders</a>
                                    <a class="dropdown-item" style="cursor: pointer;" onclick="OpenForm('@patient.Id', 'MedicationOverview', 'NurseForms');">Meds Overview</a>
                                    <a class="dropdown-item" style="cursor: pointer;" onclick="OpenForm('@patient.Id', 'QFNOverview', 'NurseForms');">VS Overview</a>
                                    <a class="dropdown-item" style="cursor: pointer;" onclick="OpenForm('@patient.Id', 'QDFormOverview', 'NurseForms');">QD Form Overview</a>
                                </div>
                            </div>
                        </td>
                        <td class="text-center">
                            @gender
                        </td>
                        <td class="text-center">
                            @patient.PatientNavigation.DateOfBirth.ComputeAge()<br />
                            <small>@patient.PatientNavigation.DateOfBirth.GetDate("MMM d, yyyy")</small>
                        </td>
                        <td class="text-center">
                            @patient.PatientNavigation.GetAddress()
                        </td>
                        <td class="text-center">
                            @patient.DateOfAdmission.GetDate("MMM d, yyyy")
                        </td>
                        <td class="text-center">
                            @patient.UpdatedAt.GetDate("MMM d, yyyy")
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>